{% extends 'main/layout.html' %} 
{% block title %}Forma pentru adaugarea articolelor{% endblock%} 
{% block content %}
<div class="features">
  <div class="card">
  <h1>Adauga propriul articol pe site</h1>
    <form class="form__control" method="post" >
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.anons }}<br>
        {{ form.full_text }}<br>
        {{ form.date }}<br>
        <span>{{ error }}</span>
        <button class="btn" type="submit">Adauga articolul</button>
    </form>
    </div>
</div>

{% endblock %}
