{% extends 'main/layout.html' %} {% block title %} Pagina principala {%endblock%} 
{% block content %}
<div class="features">
  <h1>Despre mine</h1>
    <div class="about__me">
     <p>
    Salut! Mă numesc Vladimir și sunt pasionat de lumea tehnologiei și programării. Am absolvit Centrul de Excelență în Informatică și Tehnologii Informaționale, specializarea Administrator Web, și de atunci am călătorit pe drumul fascinant al dezvoltării web.

În prezent, îmi dedicați timpul studierii limbajului de programare Python și a framework-ului Django. Această combinație puternică de instrumente mă ajută să construiesc aplicații web scalabile și eficiente. Îmi place să explorez cele mai noi tendințe din industrie și să găsesc soluții inovatoare pentru problemele întâlnite în dezvoltarea web.

Pe lângă Python și Django, mă angajez și în studierea React JS, un framework de vârf pentru dezvoltarea interfețelor utilizator atrăgătoare și interactive. Sunt fascinat de modul în care React JS optimizează experiența utilizatorului și permite crearea de aplicații web moderne și receptive.

În timpul meu liber, mă pasionează crearea de roboți de conversație pe platforma Telegram utilizând limbajul de programare Python. Această experiență mă ajută să explorez domeniul inteligenței artificiale și să dezvolt aplicații cu funcționalități interesante și utile pentru utilizatori.

În portofoliul meu, veți găsi o colecție de proiecte pe care le-am dezvoltat și care demonstrează competențele mele în dezvoltarea web. Sunt dedicat în a crea produse de calitate, care să ofere o experiență plăcută și valoroasă utilizatorilor.

Dacă sunteți în căutarea unei persoane pasionate, creative și în căutarea inovației în dezvoltarea web, atunci nu ezitați să luați legătura cu mine. Sunt deschis la noi oportunități și colaborări care mă vor ajuta să-mi dezvolt și mai mult abilitățile în domeniu.


      </p>
      <br>
      <br>
      <br>
      <a href="{% url 'home' %}"><button class="btn btn-danger">Home</button></a>
    </div>
</div>
<br>
<br>
<br>
<br>

{% endblock %}
